.cart-menu {
    position: absolute;
    top: 40px;
    left: calc(-200px - 9 * (100vw/1900));
    background-color: rgb(36, 37, 41);
    width: calc(200px + 9 * (100vw/1900));
    padding: 10px 25px;
    z-index: 2;
    border-radius: 15px;

    .cart-menu_arrange {
        margin-top: 28px;
        padding: 9px;
        border-top: 1px solid rgba(255, 255, 255, 0.4);

        .cart-menu__total-price {
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;
        }
    }
}